<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>『G酷在线』｜GCooler--网页设计资源站</title>
<link href="css/web_main.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="include/flashWrite.js"></script>
<script language="javascript" src="include/div.js"></script>
</head>
<body>
<!--start master_head-->
<div id="master_head">
	<div class="head_logo">
<!--start class-->
<div id="intro1" style="Z-INDEX:1;POSITION:absolute;width:0px;height:0px;" onmouseover="MM_showHideLayers('intro1','','show','intro2','','show')" onmouseout="MM_showHideLayers('intro1','','hide','intro2','','hide')">
              <div id="intro2" style="Z-INDEX:1;visibility:hidden;LEFT:220px;POSITION:absolute;TOP:98px">
                <table border="0" cellpadding="0" cellspacing="0" height="32">
                  <tr>
                    <td align="center" background="images/list_menu_left.gif" class="menu"><a href="http://www.gcooler.com">韩国模版</a> ｜ <a href="http://www.gcooler.com">欧美模版</a> ｜ <a href="http://www.gcooler.com">中文模版</a> ｜ <a href="http://www.gcooler.com">日本模版</a></td>
					<td width="8" background="images/list_menu_right.gif">&nbsp;</td>
                  </tr>
                </table>
              </div>
</div>
<!--end class-->
	</div>
	<div class="head_advertising"></div>
	<div class="head_txt">·关于我们<br />·广告服务<br />·版权声明</div>
	<div class="no_float"></div>
</div>
<!--end master_head-->

<!--start master_menu-->
<div id="master_menu">
	<div class="menu_left">韩国模版 ｜ 欧美模版</div>
	<div class="menu_text">
	<a href="http://www.gcooler.com" onMouseOver="MM_showHideLayers('intro1','','show','intro2','','show')" onMouseOut="MM_showHideLayers('intro1','','hide','intro2','','hide')">
	网站模版</a>
	<a href="http://www.gcooler.com">Flash素材</a>
	<a href="http://www.gcooler.com">特效代码</a>
	<a href="http://www.gcooler.com">讨论求助</a>
	<a href="http://www.gcooler.com">网站首页</a>
	</div>
</div>
<div class="menu_bottom">
	<div class="menu_bottom_img"></div>
	<div class="menu_bottom_text"><marquee direction="left" onmousemove="this.stop()" onmouseout="this.start()" scrollamount="2">热烈庆祝网站建设成功！</marquee></div>
	<div class="no_float"></div>
</div>
<!--end master_menu-->

<!--start master_body-->
<div id="master_body">
	<div id="body_left">
	  	 <!--start login-->
	  	 <div class="left_content_top"></div>
	  	 <div class="left_content_main">
	  	 <div><img src="images/login_title.gif"/></div>
		 <div class="left_login">用户名　<input name="用户名" type="text" id="用户名" maxlength="12" /></div>
		 <div class="left_login">密　码　<input name="密码" type="password" id="密码" maxlength="12" /></div>
		 <div class="left_login">注册｜忘记密码　<img src="images/enter.jpg" align="absmiddle" /></div>
	  	 </div>
	  	 <div class="left_content_bottom"></div>
	  	 <!--end login-->
		 <!--start tutorial-->
		 <div class="left_content_title"><img src="images/arrow_01.gif" class="title_img" />制作教程　　　　　　更多...</div>
		 <div class="left_content_top"></div>
		 <div class="left_content_main">
		 ·如何制作＊＊＊＊＊＊<br />
		 ·如何制作＊＊＊＊＊＊<br />
		 ·如何制作＊＊＊＊＊＊<br />
		 ·如何制作＊＊＊＊＊＊<br />
		 ·如何制作＊＊＊＊＊＊<br />
		 ·如何制作＊＊＊＊＊＊<br />
		 ·如何制作＊＊＊＊＊＊<br />
		 ·如何制作＊＊＊＊＊＊<br />
		 ·如何制作＊＊＊＊＊＊<br />
		 ·如何制作＊＊＊＊＊＊</div>
		 <div class="left_content_bottom"></div>
		 <!--end tutorial-->
		 <!--start down_template-->
		 <div class="left_content_title"><img src="images/arrow_01.gif" class="title_img" />模板下载排行</div>
		 <div class="left_content_top"></div>
		 <div class="left_content_main">
		 <img src="images/down01.gif" align="absmiddle" class="down_img"/>女性减肥咨询公司网页<br />
		 <img src="images/down02.gif" align="absmiddle" class="down_img"/>女性减肥咨询公司网页<br />
		 <img src="images/down03.gif" align="absmiddle" class="down_img"/>女性减肥咨询公司网页<br />
		 <img src="images/down04.gif" align="absmiddle" class="down_img"/>女性减肥咨询公司网页<br />
		 <img src="images/down05.gif" align="absmiddle" class="down_img"/>女性减肥咨询公司网页<br />
		 <img src="images/down06.gif" align="absmiddle" class="down_img"/>女性减肥咨询公司网页<br />
		 <img src="images/down07.gif" align="absmiddle" class="down_img"/>女性减肥咨询公司网页<br />
		 <img src="images/down08.gif" align="absmiddle" class="down_img"/>女性减肥咨询公司网页<br />
		 <img src="images/down09.gif" align="absmiddle" class="down_img"/>女性减肥咨询公司网页<br />
		 <img src="images/down10.gif" align="absmiddle" class="down_img"/>女性减肥咨询公司网页	 </div>
		 <div class="left_content_bottom"></div>
		 <!--end down_template-->
		 <!--start down_flash-->
		 <div class="left_content_title"><img src="images/arrow_01.gif" class="title_img" />Flash下载排行</div>
		 <div class="left_content_top"></div>
		 <div class="left_content_main">
		 <img src="images/down01.gif" align="absmiddle" class="down_img"/>网页FLASH图片滚动<br />
		 <img src="images/down02.gif" align="absmiddle" class="down_img"/>网页FLASH图片滚动<br />
		 <img src="images/down03.gif" align="absmiddle" class="down_img"/>网页FLASH图片滚动<br />
		 <img src="images/down04.gif" align="absmiddle" class="down_img"/>网页FLASH图片滚动<br />
		 <img src="images/down05.gif" align="absmiddle" class="down_img"/>网页FLASH图片滚动<br />
		 <img src="images/down06.gif" align="absmiddle" class="down_img"/>网页FLASH图片滚动<br />
		 <img src="images/down07.gif" align="absmiddle" class="down_img"/>网页FLASH图片滚动<br />
		 <img src="images/down08.gif" align="absmiddle" class="down_img"/>网页FLASH图片滚动<br />
		 <img src="images/down09.gif" align="absmiddle" class="down_img"/>网页FLASH图片滚动<br />
		 <img src="images/down10.gif" align="absmiddle" class="down_img"/>网页FLASH图片滚动
		 </div>
		 <div class="left_content_bottom"></div>
		 <!--end down_flash-->
	</div>
	<div id="body_right">
	  <!--start right_search-->
	   <div class="right_search">
		 <div class="right_search01"><img src="images/arrow.gif" class="right_search_img"/>
		 <select name="select"><option>全部搜索</option>
		 <option>网页模版</option>
		 <option>FLASH素材</option>
		 <option>网页特效</option>
		 </select>
		 <input name="textfield3" type="text" size="30" onmouseover="this.style.color='#000000';" onmouseout="if (this.value == '请输入需要查询的信息'){this.style.color = '#ACACAC'}" onblur="if (this.value == '') { this.value = '请输入需要查询的信息'; this.style.color = '#ACACAC' } else { this.style.color = '#000000'; }" onclick="if (this.value == '请输入需要查询的信息') { this.value = ''; this.style.color = '#000000'; }" value="请输入需要查询的信息" />
		 <img src="images/search.gif" align="absmiddle" />
		 <img src="images/other.gif" align="absmiddle" />		 </div>
		 <div class="right_search02"><img src="images/notice.gif" class="right_search_img" />2007-9-20 最新通告关于｀～～～～</div>
	   </div>
	  <!--end right_search-->
	  <!--start advertising-->
	   <div class="right_content_top"></div>
	   <div class="right_content_fmain">
		 <div class="main_flash01"><script>flashWrite('flash/freegine_frontmain.swf?text1=flash/SWF_6.txt&rnd=70554','376','144','','','','transparent')</script></div>
		 <div class="main_flash02"><script>flashWrite('flash/freeginemainEvent.swf?text1=flash/SWF_7.txt&text2=flash/SWF_94.txt&rnd=53341','359','144','','','','transparent')</script></div>
	   </div>
	  <div class="right_content_bottom"><img src="images/right_content_bottom.gif"></div>
	  <!--end advertising-->
	  <!--start class-->
	   <div class="right_content_top"></div>
	   <div class="right_content_main">
		 <div class="right_content_title"><img src="images/arrow_01.gif" class="title_img" />模板分类　　　　　<font color="#FFFF00">共8个</font>	   </div>
		 <div class="right_content">
		 <TABLE width="100%" border="0" cellpadding="0" cellspacing="0">
		 <tr align="center">
	       <td height="20">女性减肥咨询公司网页</td>
           <td>女性减肥咨询公司网页</td>
           <td>女性减肥咨询公司网页</td>
           <td>女性减肥咨询公司网页</td>
		 </tr>
		 <tr align="center">
	       <td height="20">女性减肥咨询公司网页</td>
           <td>女性减肥咨询公司网页</td>
           <td>女性减肥咨询公司网页</td>
           <td>女性减肥咨询公司网页</td>
		 </tr>
		 </TABLE>
		 </div>
		 <div class="right_content_title"><img src="images/arrow_01.gif" class="title_img" />模板分类　　　　　<font color="#FFFF00">共8个</font>	   </div>
		 <div class="right_content">
		 <TABLE width="100%" border="0" cellpadding="0" cellspacing="0">
		 <tr align="center">
	       <td height="20">女性减肥咨询公司网页</td>
           <td>女性减肥咨询公司网页</td>
           <td>女性减肥咨询公司网页</td>
           <td>女性减肥咨询公司网页</td>
		 </tr>
		 <tr align="center">
	       <td height="20">女性减肥咨询公司网页</td>
           <td>女性减肥咨询公司网页</td>
           <td>女性减肥咨询公司网页</td>
           <td>女性减肥咨询公司网页</td>
		 </tr>
		 </TABLE>
		 </div>
	   </div>
	  <div class="right_content_bottom"><img src="images/right_content_bottom.gif"></div>
	  <!--end class-->
	  <!--start template-->
	   <div class="right_content_top"></div>
	   <div class="right_content_main">
		 <div class="right_content_title"><img src="images/arrow_01.gif" class="title_img" />网页模版　　　　　<font color="#FFFF00">共2010个</font>	   </div>
		 <div class="right_content_more">更多...	   </div>
		 <div class="right_content">
		 <TABLE width="100%" border="0" cellpadding="0" cellspacing="0">
		 <tr align="center">
	       <td><img src="images/cp_template.jpg" /></td>
	       <td><img src="images/cp_template.jpg" /></td>
	       <td><img src="images/cp_template.jpg" /></td>
	       <td><img src="images/cp_template.jpg" /></td>
		 </tr>
		 <tr align="center">
	       <td height="20">女性减肥咨询公司网页</td>
           <td>女性减肥咨询公司网页</td>
           <td>女性减肥咨询公司网页</td>
           <td>女性减肥咨询公司网页</td>
		 </tr>
		 </TABLE>
		 </div>
	   </div>
	  <div class="right_content_bottom"><img src="images/right_content_bottom.gif"></div>
	  <!--end template-->
	  <!--start flash-->
	  <div class="right_content_top"></div>
	  <div class="right_content_main">
		 <div class="right_content_title"><img src="images/arrow_01.gif" class="title_img" />FLASH素材　　　　　<font color="#FFFF00">共1010个</font></div>
		 <div class="right_content_more">更多...	   </div>
		 <div class="right_content">
		 <TABLE width="100%" border="0" cellpadding="0" cellspacing="0">
		 <tr><td align="center"><img src="images/cp_flash.jpg" /></td>
	       <td align="center"><img src="images/cp_flash.jpg" /></td>
	       <td align="center"><img src="images/cp_flash.jpg" /></td>
	       <td align="center"><img src="images/cp_flash.jpg" /></td>
	     </tr>
	     <tr>
	       <td height="20" align="center">网页FLASH图片滚动</td>
           <td align="center">网页FLASH图片滚动</td>
           <td align="center">网页FLASH图片滚动</td>
           <td align="center">网页FLASH图片滚动</td>
	     </tr>
		 </TABLE>
		 </div>
	  </div>
	  <div class="right_content_bottom"><img src="images/right_content_bottom.gif"></div>
	  <!--end flash-->
	  <!--start code-->
	  <div class="right_content_top"></div>
	  <div class="right_content_main">
		 <div class="right_content_title"><img src="images/arrow_01.gif" class="title_img" />网页特效　　　　　<font color="#FFFF00">共810个</font></div>
		 <div class="right_content_more">更多...	   </div>
		 <div class="right_content">
		 <TABLE width="100%" border="0" cellpadding="0" cellspacing="0">
		 <tr><td align="center"><img src="images/cp_code.jpg" /></td>
	       <td align="center"><img src="images/cp_code.jpg" /></td>
	       <td align="center"><img src="images/cp_code.jpg" /></td>
	       <td align="center"><img src="images/cp_code.jpg" /></td>
		 </tr>
		 <tr>
	       <td height="20" align="center">Tabbed Pages雅虎TAB效果</td>
           <td align="center">Tabbed Pages雅虎TAB效果</td>
           <td align="center">Tabbed Pages雅虎TAB效果</td>
           <td align="center">Tabbed Pages雅虎TAB效果</td>
		 </tr>
		 </TABLE>
		 </div>
	  </div>
	  <div class="right_content_bottom"><img src="images/right_content_bottom.gif"></div>
	  <!--end code-->
	  <!--start link-->
	  <div class="right_content_top"></div>
	  <div class="right_content_main">
	    <div class="right_content">
		 <table width="745" border="0" cellspacing="0" cellpadding="0">
         <tr>
           <td width="21" height="67" align="center" background="images/cooperate.gif"><font color="#FFFFFF">合作伙伴</font></td>
           <td width="724"><table width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr align="center">
               <td><a href="http://www.gcooler.com"><img src="http://www.gcooler.com/images/link_logo.gif" alt="『G酷在线』｜GCooler" border="0" /></a></td>
               <td><a href="http://www.gcooler.com"><img src="http://www.gcooler.com/images/link_logo.gif" alt="『G酷在线』｜GCooler" border="0" /></a></td>
               <td><a href="http://www.gcooler.com"><img src="http://www.gcooler.com/images/link_logo.gif" alt="『G酷在线』｜GCooler" border="0" /></a></td>
               <td><a href="http://www.gcooler.com"><img src="http://www.gcooler.com/images/link_logo.gif" alt="『G酷在线』｜GCooler" border="0" /></a></td>
               <td><a href="http://www.gcooler.com"><img src="http://www.gcooler.com/images/link_logo.gif" alt="『G酷在线』｜GCooler" border="0" /></a></td>
             </tr>
             <tr align="center">
               <td>*********</td>
               <td>*********</td>
               <td>*********</td>
               <td>*********</td>
               <td>*********</td>
             </tr>
           </table></td>
          </tr>
         <tr>
           <td height="5" colspan="2" align="center"></td>
           </tr>
		 </table>
	    </div>
	  </div>
	  <div class="right_content_bottom"><img src="images/right_content_bottom.gif"></div>
	  <!--end link-->

	</div>
	<div class="no_float"></div>
</div>
<!--end master_body-->

<!--start master_foot-->
<div id="master_foot">
	  <div class="foot_menu">| 关于我们 | 联系我们 | 隐私条款 | 广告服务 | 网站导航 | 客户服务 |</div>
	  <div class="foot_copyright">ICP证沪**********<br />互联网违法和不良信息举报中心<br />&copy;2007 www.gcooler.com版权所有</div>
</div>
<!--end master_foot-->
</body>
</html>
<span style="display:none;"><a href="http://www.mobanwang.com" title="网页模板下载">网页模板</a></span><span style="display:none;"><a href="http://www.mobanwang.com" title="网页模板下载">网页模板</a></span>